
body {
  background-color: #f4e7d5;
  font-family: 'Open Sans', sans-serif;
  }

.encabezado{
  height: 15%;
  background-color: #84b09b;  
  font-family: 'Open Sans', sans-serif;
  size: 14;
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: black;
  background-color: #f4e7d5;
}

.avatar {
  width: 20px;
  text-align: center;  
}

.slide img{
  height: 20%; 
}

.calendario{ 
  height: 10%;
  text-align: center;
  margin-top: 10px;
  background-color: #84b09b;
  padding: 10px;
  
}

.fecha{
  margin-left: 50px;
  float: left;
  margin: 15px;
}

.contador{
  width: 40px;
  margin: 15px auto;
}

#contenido{
  height: 35%;
  background-color: #ecd4c6;
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
}

#calificacion{
  height: 10%;
  background-color: #ecd4c6;
  border-radius: 1em;
  margin: 1em;

}

#pie-pagina{
  height: 10%;
  background-color: #84b09b;
  color: black;
  font-family: 'Open Sans', sans-serif;
  padding: 60px;
}


#about{ 
 text-align: justify; 
   
} 


#contacto{
  float:left;
}

#logo{
  margin-left: 50px;
  height:90px;    
}

#redes{
  margin-top: 30px;
  margin-left: 20px;
  float: left;
}

#info-centro{
  margin-top: 30px;
  margin-left: 30px;
  text-align: justify;
  float:left;
}

.twitter{
  height:50px;
  border-radius: 25px;
  padding: 5px;
}

.facebook{
  height:50px;
  border-radius: 25px;
  padding: 5px;
}

.instagram{
  height:50px;
  border-radius: 25px;
  padding: 5px;
}

#copy{
  margin-top: 30px;
  text-align: center;
}

