@charset "utf-8";
/* formato de las 3 columnas de los 
formularios*/
.form-col {
	height: 650px;
	background-color: #F2F2F2;
    margin-top: 1%;
	margin-bottom: 1%;
	padding-top: 1%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

#logo-form {
	height: 100px;
}

.form-izq {
	height: 300px;
}

.detalle-reserva {
    width: 100%;    
}

.tipo_habitacion {
    width: auto;
    
}
.formulario-huesped {
    width: 99%;
    
}

.formulario-pago {
    width: 99%;
    height: 590px;
      
}

.h2-form {
    background: #0B2B40;
	text-decoration: dashed;
    color: #F2F2F2;
    text-align: center;
	margin: 0px;
}

form{
	width:100%;
	padding:2%;
	margin:auto;
	background-color:#164773;
}

form label{
	width:30%;
	font-weight:bold;
	display:inline-block;
	color: #F2F2F2;
}
.label-info {
	width: 62%;
	text-align: end;
	margin: 8px 0;
    display: inline-block;
}

form input[type="text"],
form input[type="email"]{
	width:60%;
	padding:1% 2%;
	border:1px solid #0B2B40;
	border-radius:3px;
	background-color:#F2F2F2;
	margin:8px 0;
	display:inline-block;
    color: #27242a;
}

.tipo_habitacion form input[type="text"]{
	width:60%;
	padding:3px 10px;
    text-align: right;
	border:1px solid #0B2B40;
	border-radius:3px;
	background-color:#F2F2F2;
	margin:8px 0;
	display:inline-block;
    color: #27242a;

}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:15px;
	border:1px solid #164773;
	border-radius:3%;
	display:block;
	color:#F2F2F2;
	background-color:#0B2B40;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
    padding:1% 2%;
	border:1% solid #0B2B40;
	border-radius:1%;
	background-color:#F2F2F2;			
	margin:8px 0;
	resize:none;
	display:block;
}

/* Model Login */

.btn{
	background-color:#0B2B40;
	}
	.modal-content {
	  width: 80%;
	  margin: 0 auto;
	}
	.modal-body {
	  padding: 0;
	}
	.btn-close {
	  position: absolute;
	  right: 0;
	  padding: 1em;
	}
	h1 {
	  font-size: 2.3em;
	  font-weight: bold;
	}
	.myform {
	  padding: 2em;
	  max-width: 100%;
	  color: #F2F2F2;
	  background-color: #164773;
	  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
	  @media (max-width: 576px) {
		max-width: 90%;
		margin: 0 auto;
	  }
	}
	.form-control:focus {
	  box-shadow: inset 0 -1px 0 #000000;
	}
	.form-control {
	  background-color: inherit;
	  color:#F2F2F2;
	  padding-left: 0;
	  border: 0;
	  border-radius: 0;
	  border-bottom: 1px solid #F2F2F2;
	}
	.myform .btn {
	  width: 100%;
	  font-weight: 800;
	  background-color: #164773;
	  color:#F2F2F2;
	  border-radius: 0;
	  padding: 0.5em 0;
	}
	.myform .btn:hover {
	  background-color: inherit;
	  color: #F2F2F2;
	  border-color: #F2F2F2;
	}
	p {
	  text-align: center;
	  padding-top: 2em;
	  color: #808080;
	}
	p a {
	  color: #F2F2F2;
	  text-decoration: none;
	}
	p a:hover {
	  color: #F2F2F2;
	}